<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="test1">
<parameter name="username" value="Admin"></parameter>
<parameter name="password" value="admin123"></parameter>
<classes><class name="pack.OrangeHRM"></class></classes>
</test>
  <!-- Test -->
  
  <test name="Test2">
  <parameter name="username" value="Kajal"></parameter>
<parameter name="password" value="kajal123"></parameter>
  <classes><class name="pack.OrangeHRM"></class></classes>
  </test>
  
  
</suite> <!-- Suite -->
